<!DOCTYPE html>
<html>
<head>
  <title>BookRouterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app="BookApp">
<!-- <a href="/mean"></a> -->
  <div ng-view>
  </div>
  <a href="/mean">MEAN!</a>
</body>
</html>
